# This file is used for Git repositories to specify intentionally untracked files that Git should ignore. 
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore

# Salesforce dev
.sf/
.sfdx/
.localdevserver/

# LWC VSCode autocomplete
jsconfig.json

# LWC Jest coverage reports
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# VS Code project settings
.vscode/
force-app/main/default/appMenus/AppSwitcher.appMenu-meta.xml
force-app/main/default/applications/Account.app-meta.xml
force-app/main/default/flexipages/Account_Record_Page.flexipage-meta.xml
force-app/main/default/flexipages/Account_UtilityBar.flexipage-meta.xml
force-app/main/default/flexipages/Base_Account_Page.flexipage-meta.xml
force-app/main/default/profiles/Admin.profile-meta.xml
/force-app/main/default/flexipages/Account_Record_Page.flexipage-meta.xml
/force-app/main/default/flexipages/Account_Record_Page1.flexipage-meta.xml
/force-app/main/default/layouts/Account-Account Layout.layout-meta.xml
/force-app/main/default/objects/Account/fields/Checkbox__c.field-meta.xml
/force-app/main/default/profiles

/old-versions/*
/unpackaged/*