.slds-avatar_large {
    font-weight:600;
}

.indicatorIcon {
    --slds-c-icon-color-foreground: var(--foregroundColor);
    --slds-c-icon-color-background: var(--backgroundColor);
    --slds-c-avatar-text-color: var(--foregroundColor);
}