.slds-avatar_large {
    font-weight:600;
}

.indicatorIcon {
    --slds-c-icon-color-foreground: var(--foregroundColor);
    --slds-c-icon-color-background: var(--backgroundColor);
    --slds-c-icon-color-foreground-default: var(--foregroundColor);
    --slds-c-avatar-initials-text-color-hover:  var(--foregroundColor);
    --slds-c-avatar-text-color-hover:  var(--foregroundColor);
    --slds-c-avatar-text-color: var(--foregroundColor);
}

.clickable {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

/* Prevent avatar from stealing hover */
.clickable lightning-avatar {
    pointer-events: none;
}